.slideStyles {
    display: block;
    width: 60%;
    height: 400px;
    /*padding-top: 40px;*/
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border-color: #282c34;
    background-color: #282c34;
}

.container {
    padding-top: 20px;

}

.leftArrowStyles {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 20%;
    font-size: 45px;
    color: black;
    z-Index: 1;
    cursor: pointer;
}

.rightArrowStyles {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 20%;
    font-size: 45px;
    color: black;
    z-Index: 1;
    cursor: pointer;
}

.dotStyle {
    margin: 5px;
    cursor: pointer;
    font-size: 20px;
    color: green;
}


.dotsContainerStyles {
    display: flex;
    justify-content: center;
}

