

.navmenu{
    width: 20%;
    /*height: 100%;*/
    background-color: #44474f;
    /*align-content: normal;*/
    top: 0;
    bottom: 0;
    position: fixed;
    left: 0;
    padding-top: 10px;


}
.navmenu a{
    display: flex;
    padding: 15px;
    color: white;
    text-transform: uppercase;
    font-size: medium;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;

}
